@font-face {
    font-family: Futura Book;
    src: url(/static/fonts/Futura-Book.woff2);
}

body {
    margin: 0;
    background: #eeeeee;
    font-family: Futura Book, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.normal-text {
    font-size: 24px;
}

.big-text {
    font-size: 36px;
}

.large-text {
    font-size: 48px;
}

.enormous-text {
    font-size: 72px;
}
