<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <link rel="preload" href="/static/fonts/Futura-Book.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="/static/style/style.css">
  <link rel="stylesheet" href="/static/style/{{ theme }}.css">
  <link rel="stylesheet" href="/static/style/weather.css">
  <link rel="stylesheet" href="/static/style/clock.css">

  <script src="/static/vendors/jquery-3.4.1.min.js"></script>
  <script src="/static/scripts/newtab.js"></script>
  <script src="/static/scripts/{{ theme }}.js"></script>

  <title>Home</title>

</head>
<body>

  {%- include theme ~ '.html' -%}

  {%- include 'weather.html' -%}

  {%- include 'clock.html' -%}

</body>
</html>
