<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/style/style.css">
  <script src="/static/vendors/jquery-3.4.1.min.js"></script>
  <script src="/static/scripts/newtab.js"></script>
  <title>Home</title>
</head>
<body>
  <div id="time">
    {% macro digit() -%}
      <span id="{{ id }}" class="mdHMS"></span>
    {%- endmacro -%}
    <span id="time-date" class="big-text">
      {{ digit() }}{{ digit() }}/{{ digit() }}{{ digit() }} <span id="time-day"></span>
    </span>
    <span id="time-time" class="enormous-text">
      {{ digit() }}{{ digit() }}:{{ digit() }}{{ digit() }}:{{ digit() }}{{ digit() }}
    </span>
  </div>
  <div id="status">
    <span id="status-room" class="big-text"></span>
    <span id="status-activity" class="normal-text"></span>
  </div>
</body>
</html>
