<figure class="abs-center station-container">
  <div class="abs-center space">
    <div class="circle earth"></div>
    <div class="circle moon"></div>
  </div>
  <div class="circle station">
    <div class="cylinder cellar cellar-right-back"></div>
    <div class="cylinder cellar cellar-top-back"></div>
    <div class="cylinder cellar cellar-left-back"></div>
    <div class="cylinder cellar cellar-bottom-back"></div>
    <div class="circle back ring"></div>

    <div class="cylinder passage"></div>

    <div class="cylinder cellar cellar-right"></div>
    <div class="cylinder cellar cellar-top"></div>
    <div class="cylinder cellar cellar-left"></div>
    <div class="cylinder cellar cellar-bottom"></div>
    <div class="circle ring"></div>

    <div class="circle abs-center front platform"></div>
    <div class="abs-center front dock"></div>
  </div>
</figure>
